{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://unpkg.com/@stripe/react-stripe-js@latest/dist/react-stripe.umd.js"></script>
<link rel="stylesheet" href="{% static 'countryselect/niceCountryInput.css' %}">
<script src="{% static 'countryselect/niceCountryInput.js' %}"></script>
{% endblock %}
{% block title %}Checkout{% endblock %}

{% block scripts %}
<script src="{% static 'jsx/checkout.jsx' %}" type="text/babel"></script>
{% endblock %}