amqp
asgiref
billiard==3.6.4.0
celery
certifi
charset-normalizer
Django
django-anymail
idna
python-decouple
requests
sqlparse
six
stripe
tzdata
urllib3
gunicorn
psycopg2-binary
uvicorn
djangorestframework
django-rest-knox
jsonfield